doctype html
head(lang="en")
  meta(charset="utf-8")
  title Fisherman Labs Test Task
  link(href="./vendor/css/vendor.css", rel="stylesheet", type="text/css")
  //link(href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700", rel="stylesheet")
  //- link(href="./css/screen.css", media="screen, projection", rel="stylesheet", type="text/css")
  //- <!--[if IE]><link href="./css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->
body
  #app
  script(src="./bundle.js")